@import 'https://code.highcharts.com/css/highcharts.css';

.highcharts-background {
    fill:#252C48;
}
.highcharts-container{
    overflow: scroll;
    height: 100%;
}
.highcharts-color-0{
    fill: beige;
    stroke: beige;
}
.highcharts-axis-line{
    stroke: transparent;
}